html {
    height: 100vh;
    width: 100vw;
}

#root {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

nav {
    height: 5vh;
}

.game {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.board {
    display: block;
    width: 100%;
    height: 95%;
    overflow-y: scroll;
}

.game-info {
    display: block;
    color: black;
    text-align: center;
    border-top: 1px solid black;
}

.game-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pre-game{
    overflow-y: auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-add {
    margin-top: 1em;
    width: 70%;
}

.btn-close {
    margin: 1em;
}

.word-form {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.word-form-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.start-game-btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.next-team-btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.word-list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #444;
    border: 1px solid #414141;
    border-radius: 50px;
    background: #f3f3f3;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 5px;
    text-align: center;
    width: 80%;
    height: 40em;
}

.word-list:hover {
    color: rgb(68, 68, 68);
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

.word {
    font-size: 5em;
}



.start-button {
    width: 20%;
}


.current-team {
    text-align: center;
}

.team-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* Envuelve a la siguiente línea cuando no hay suficiente espacio */
}

.team-form>* {
    padding: 1em;
    /* Añade un padding de 1em a cada elemento secundario */
}

.submit-teams {
    width: 100%;
    text-align: center;
}

.words-per-player, .seconds-per-round {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.words-per-player > input{
    width: 6em;
}

.seconds-per-round > input{
    width: 6em;
}



/* ARREGLAR CSS DE WORDLIST */